# Table of Contents
 <p><div class="lev1"><a href="#Task-1.-Compiling-Ebola-Data"><span class="toc-item-num">Task 1.&nbsp;&nbsp;</span>Compiling Ebola Data</a></div>
 <div class="lev1"><a href="#Task-2.-RNA-Sequences"><span class="toc-item-num">Task 2.&nbsp;&nbsp;</span>RNA Sequences</a></div>
 <div class="lev1"><a href="#Task-3.-Class-War-in-Titanic"><span class="toc-item-num">Task 3.&nbsp;&nbsp;</span>Class War in Titanic</a></div></p>

In [1]:
DATA_FOLDER = 'Data' # Use the data folder provided in Tutorial 02 - Intro to Pandas.

import os
import pandas as pd
os.getcwd()

'C:\\Users\\voyo\\Documents\\GitHub\\ADA_ENPantouFLeS\\HW1'

## Task 1. Compiling Ebola Data

The `DATA_FOLDER/ebola` folder contains summarized reports of Ebola cases from three countries (Guinea, Liberia and Sierra Leone) during the recent outbreak of the disease in West Africa. For each country, there are daily reports that contain various information about the outbreak in several cities in each country.

Use pandas to import these data files into a single `Dataframe`.
Using this `DataFrame`, calculate for *each country*, the *daily average per month* of *new cases* and *deaths*.
Make sure you handle all the different expressions for *new cases* and *deaths* that are used in the reports.

In [22]:
#First, for every country, we create a frame with the information we need
#We format them so that they are consistent
#Then we merge the three frames

#creation of the subframe for guinea
guiT = []
for file in os.listdir(DATA_FOLDER + "/ebola/guinea_data"):
    if file.endswith(".csv"):
        guiT += [pd.read_csv(DATA_FOLDER + '/ebola/guinea_data/' + file)]
gui = pd.concat(guiT)
gui = gui.reset_index()
gui = gui[["Date", "Description", "Totals"]]

#creation of the subframe for liberia
libT = []
for file in os.listdir(DATA_FOLDER + "/ebola/liberia_data"):
    if file.endswith(".csv"):
        libT += [pd.read_csv(DATA_FOLDER + '/ebola/liberia_data/' + file)]
lib = pd.concat(libT)
lib = lib.reset_index()
lib = lib[["Date", "Variable", "National"]]
lib.columns = ["Date", "Description", "Totals"]

#creation of the subframe for sl
slT = []
for file in os.listdir(DATA_FOLDER + "/ebola/sl_data"):
    if file.endswith(".csv"):
        slT += [pd.read_csv(DATA_FOLDER + '/ebola/sl_data/' + file)]
sl = pd.concat(slT)
sl = sl.reset_index()
sl = sl[["date", "variable", "National"]]
sl.columns = ["Date", "Description", "Totals"]

DF = pd.concat([gui, lib, sl], keys=["gui", "lib", "sl"])

DF

                Date                                      Description Totals
gui 0     2014-08-04                            New cases of suspects      5
    1     2014-08-04                           New cases of probables      0
    2     2014-08-04                           New cases of confirmed      4
    3     2014-08-04                Total new cases registered so far      9
    4     2014-08-04                          Total cases of suspects     11
    5     2014-08-04                         Total cases of probables    133
    6     2014-08-04                         Total cases of confirmed    351
    7     2014-08-04     Cumulative (confirmed + probable + suspects)    495
    8     2014-08-04                      New deaths registered today      2
    9     2014-08-04          New deaths registered today (confirmed)      2
    10    2014-08-04          New deaths registered today (probables)      0
    11    2014-08-04           New deaths registered today (suspects)      0
    12    2014-08-04                         Total deaths of suspects      2
    13    2014-08-04                        Total deaths of probables    133
    14    2014-08-04                        Total deaths of confirmed    228
    15    2014-08-04  Total deaths (confirmed + probables + suspects)    363
    16    2014-08-04                           Total PEC center today     31
    17    2014-08-04               Total PEC center today (confirmed)     18
    18    2014-08-04               Total PEC center today (probables)      0
    19    2014-08-04                Total PEC center today (suspects)     13
    20    2014-08-04        Total of deaths in confirmed cases in CTE    138
    21    2014-08-04         Total of cured in confirmed cases in CTE     89
    22    2014-08-04                   Number of male confirmed cases    161
    23    2014-08-04                 Number of female confirmed cases    190
    24    2014-08-04                   Number of male probables cases     52
    25    2014-08-04                 Number of female probables cases     81
    26    2014-08-04                    Number of male suspects cases      7
    27    2014-08-04                  Number of female suspects cases      6
    28    2014-08-04                       Total number of male cases    220
    29    2014-08-04                     Total number of female cases    277
...              ...                                              ...    ...
sl  3232  2014-12-13                                     cum_probable     79
    3233  2014-12-13                                    cum_confirmed   6638
    3234  2014-12-13                                  death_suspected    NaN
    3235  2014-12-13                                   death_probable    NaN
    3236  2014-12-13                                  death_confirmed    NaN
    3237  2014-12-13                                              cfr    NaN
    3238  2014-12-13                                etc_new_admission    NaN
    3239  2014-12-13                           etc_currently_admitted    NaN
    3240  2014-12-13                                etc_cum_admission    NaN
    3241  2014-12-13                                   etc_new_deaths    NaN
    3242  2014-12-13                                   etc_cum_deaths    NaN
    3243  2014-12-13                               etc_new_discharges    NaN
    3244  2014-12-13                               etc_cum_discharges    NaN
    3245  2014-12-13                                     cum_contacts    NaN
    3246  2014-12-13                           cum_completed_contacts    NaN
    3247  2014-12-13                                contacts_followed    NaN
    3248  2014-12-13                                     new_contacts    NaN
    3249  2014-12-13                                 contacts_healthy    NaN
    3250  2014-12-13                                     contacts_ill    NaN
    3251  2014-12-13                                contacts_not_seen    NaN
    3252  2014-12-13                           new_completed_contacts    NaN
    3253  2014-12-13                                     percent_seen    NaN
    3254  2014-12-13                                total_lab_samples    NaN
    3255  2014-12-13                                   repeat_samples    NaN
    3256  2014-12-13                                      new_samples    NaN
    3257  2014-12-13                                     new_positive    NaN
    3258  2014-12-13                                     new_negative    NaN
    3259  2014-12-13                                          pending    NaN
    3260  2014-12-13                                  positive_corpse    NaN
    3261  2014-12-13                                  negative_corpse    NaN

[7128 rows x 3 columns]

## Task 2. RNA Sequences

In the `DATA_FOLDER/microbiome` subdirectory, there are 9 spreadsheets of microbiome data that was acquired from high-throughput RNA sequencing procedures, along with a 10<sup>th</sup> file that describes the content of each. 

Use pandas to import the first 9 spreadsheets into a single `DataFrame`.
Then, add the metadata information from the 10<sup>th</sup> spreadsheet as columns in the combined `DataFrame`.
Make sure that the final `DataFrame` has a unique index and all the `NaN` values have been replaced by the tag `unknown`.

In [32]:
import pandas as pd
mid1 = pd.read_excel(DATA_FOLDER + '/microbiome/MID1.xls',sheetname='Sheet 1', header=None)
mid2 = pd.read_excel(DATA_FOLDER + '/microbiome/MID2.xls',sheetname='Sheet 1', name= ['Truc','2'], header = None)

mid1.columns = ['Truc','1']
mid2.columns = ['Truc','2']

pd.merge(mid1,mid2,how='outer')

                                                  Truc     1       2
0    Archaea "Crenarchaeota" Thermoprotei Desulfuro...   7.0    23.0
1    Archaea "Crenarchaeota" Thermoprotei Desulfuro...   2.0     2.0
2    Archaea "Crenarchaeota" Thermoprotei Sulfoloba...   3.0    10.0
3    Archaea "Crenarchaeota" Thermoprotei Thermopro...   3.0     9.0
4    Archaea "Euryarchaeota" "Methanomicrobia" Meth...   7.0     9.0
5    Archaea "Euryarchaeota" "Methanomicrobia" Meth...   1.0    12.0
6    Archaea "Euryarchaeota" "Methanomicrobia" Meth...   1.0     2.0
7    Archaea "Euryarchaeota" Archaeoglobi Archaeogl...   1.0     4.0
8    Archaea "Euryarchaeota" Archaeoglobi Archaeogl...   1.0     NaN
9    Archaea "Euryarchaeota" Halobacteria Halobacte...   1.0     4.0
10   Archaea "Euryarchaeota" Halobacteria Halobacte...   4.0     3.0
11   Archaea "Euryarchaeota" Halobacteria Halobacte...   1.0     5.0
12   Archaea "Euryarchaeota" Halobacteria Halobacte...   2.0     2.0
13   Archaea "Euryarchaeota" Halobacteria Halobacte...   4.0    26.0
14   Archaea "Euryarchaeota" Methanococci Methanoco...   1.0     NaN
15   Archaea "Euryarchaeota" Methanopyri Methanopyr...  12.0    47.0
16   Archaea "Euryarchaeota" Thermoplasmata Thermop...   2.0    10.0
17   Bacteria "Actinobacteria" Actinobacteria Actin...   2.0     NaN
18   Bacteria "Actinobacteria" Actinobacteria Actin...   1.0     NaN
19   Bacteria "Actinobacteria" Actinobacteria Actin...   1.0     NaN
20   Bacteria "Actinobacteria" Actinobacteria Actin...   1.0     NaN
21   Bacteria "Actinobacteria" Actinobacteria Actin...   2.0     NaN
22   Bacteria "Actinobacteria" Actinobacteria Actin...  53.0     NaN
23   Bacteria "Actinobacteria" Actinobacteria Actin...   1.0     NaN
24   Bacteria "Actinobacteria" Actinobacteria Actin...   2.0     NaN
25   Bacteria "Actinobacteria" Actinobacteria Actin...   3.0     NaN
26   Bacteria "Actinobacteria" Actinobacteria Actin...   1.0     NaN
27   Bacteria "Actinobacteria" Actinobacteria Actin...  99.0     NaN
28   Bacteria "Actinobacteria" Actinobacteria Actin...  17.0     NaN
29   Bacteria "Actinobacteria" Actinobacteria Actin...   2.0     NaN
..                                                 ...   ...     ...
408  Bacteria "Proteobacteria" Betaproteobacteria N...   NaN     1.0
409  Bacteria "Proteobacteria" Betaproteobacteria N...   NaN     1.0
410  Bacteria "Proteobacteria" Betaproteobacteria N...   NaN     1.0
411  Bacteria "Proteobacteria" Betaproteobacteria N...   NaN     2.0
412  Bacteria "Proteobacteria" Betaproteobacteria R...   NaN     1.0
413  Bacteria "Proteobacteria" Betaproteobacteria R...   NaN     2.0
414  Bacteria "Proteobacteria" Deltaproteobacteria ...   NaN     1.0
415  Bacteria "Proteobacteria" Deltaproteobacteria ...   NaN     3.0
416  Bacteria "Proteobacteria" Deltaproteobacteria ...   NaN     1.0
417  Bacteria "Proteobacteria" Deltaproteobacteria ...   NaN     1.0
418  Bacteria "Proteobacteria" Deltaproteobacteria ...   NaN     1.0
419  Bacteria "Proteobacteria" Deltaproteobacteria ...   NaN     1.0
420  Bacteria "Proteobacteria" Deltaproteobacteria ...   NaN     2.0
421  Bacteria "Proteobacteria" Gammaproteobacteria ...   NaN    59.0
422  Bacteria "Proteobacteria" Gammaproteobacteria ...   NaN     1.0
423  Bacteria "Proteobacteria" Gammaproteobacteria ...   NaN     2.0
424  Bacteria "Proteobacteria" Gammaproteobacteria ...   NaN     1.0
425  Bacteria "Proteobacteria" Gammaproteobacteria ...   NaN     3.0
426  Bacteria "Proteobacteria" Gammaproteobacteria ...   NaN    16.0
427  Bacteria "Proteobacteria" Gammaproteobacteria ...   NaN  1006.0
428  Bacteria "Proteobacteria" Gammaproteobacteria ...   NaN    48.0
429  Bacteria "Proteobacteria" Gammaproteobacteria ...   NaN     3.0
430  Bacteria "Proteobacteria" Gammaproteobacteria ...   NaN     1.0
431  Bacteria "Proteobacteria" Gammaproteobacteria ...   NaN     3.0
432  Bacteria "Proteobacteria" Gammaproteobacteria ...   NaN     1.0
433  Bacteria "Proteobacteria" Gammaproteobacteria ...   NaN     1.0
434  Bacteria "Proteobacteria" Gammaproteobacteria ...   NaN     9.0
435  Bacteria "Proteobacteria" Gammaproteobacteria ...   NaN     1.0
436  Bacteria "Thermodesulfobacteria" Thermodesulfo...   NaN     3.0
437          Bacteria TM7    TM7_genera_incertae_sedis   NaN     2.0

[438 rows x 3 columns]

## Task 3. Class War in Titanic

Use pandas to import the data file `Data/titanic.xls`. It contains data on all the passengers that travelled on the Titanic.

In [14]:
from IPython.core.display import HTML
HTML(filename=DATA_FOLDER+'/titanic.html')

For each of the following questions state clearly your assumptions and discuss your findings:
1. Describe the *type* and the *value range* of each attribute. Indicate and transform the attributes that can be `Categorical`. 
2. Plot histograms for the *travel class*, *embarkation port*, *sex* and *age* attributes. For the latter one, use *discrete decade intervals*. 
3. Calculate the proportion of passengers by *cabin floor*. Present your results in a *pie chart*.
4. For each *travel class*, calculate the proportion of the passengers that survived. Present your results in *pie charts*.
5. Calculate the proportion of the passengers that survived by *travel class* and *sex*. Present your results in *a single histogram*.
6. Create 2 equally populated *age categories* and calculate survival proportions by *age category*, *travel class* and *sex*. Present your results in a `DataFrame` with unique index.

In [ ]:
# Write your answer here