In [36]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [37]:
#TopUniversities.com
r = requests.get("https://www.topuniversities.com/sites/default/files/qs-rankings-data/357051.txt?_=1508602165358")
dic = r.json()['data']
dic[0]

{'cc': 'US',
 'core_id': '410',
 'country': 'United States',
 'guide': '<a href="/where-to-study/north-america/united-states/guide" class="guide-link" target="_blank">United States</a>',
 'logo': '<img src="https://www.topuniversities.com/sites/default/files/massachusetts-institute-of-technology-mit_410_small_0.jpg" alt="Massachusetts Institute of Technology (MIT)  Logo">',
 'nid': '294850',
 'rank_display': '1',
 'region': 'North America',
 'score': '100',
 'stars': '6',
 'title': 'Massachusetts Institute of Technology (MIT)',
 'url': '/universities/massachusetts-institute-technology-mit'}

In [38]:
for univ in dic[:200]:
    #Get information from second page
    r2 = requests.get("https://www.topuniversities.com" + univ['url'])
    univ['soup'] = BeautifulSoup(r2.text, 'html.parser')

In [39]:
data_list = []
for univ in dic[:200]:
    #First page information
    row = {'Name':univ['title'],'Rank':univ['rank_display'],'Country':univ['country'],'Region':univ['region']}
    
    #Second page information
    try:
        row['Number of students'] = univ['soup'].find('div',class_ = "total student").find('div',class_="number").string[1:-1]
        row['Number of international students'] = univ['soup'].find('div',class_ = "total inter").find('div',class_="number").string[1:-1]
    
        row['Number of faculty members'] = univ['soup'].find('div',class_ = "total faculty").find('div',class_="number").string[1:-1]
        row['Number of international members'] = univ['soup'].find('div',class_ = "inter faculty").find('div',class_="number").string[1:-1]
    except:
        print(univ['title'], univ['rank_display'])
        
    data_list.append(row)

New York University (NYU) 52
Indian Institute of Science (IISc) Bangalore 190

In [43]:
data = pd.DataFrame(data_list)
data = data[['Name','Rank','Country','Region','Number of faculty members','Number of international members','Number of students', 'Number of international students']]#'Number of faculty members','Number of international members']]

pd.set_option('display.max_rows', 200)
data

#199-201 wrong -> should be 198-200

,Name,Rank,Country,Region,Number of faculty members,Number of international members,Number of students,Number of international students
0,Massachusetts Institute of Technology (MIT),1,United States,North America,"2,982","1,679","11,067","3,717"
1,Stanford University,2,United States,North America,"4,285","2,042","15,878","3,611"
2,Harvard University,3,United States,North America,"4,350","1,311","22,429","5,266"
3,California Institute of Technology (Caltech),4,United States,North America,953,350,"2,255",647
4,University of Cambridge,5,United Kingdom,Europe,"5,490","2,278","18,770","6,699"
5,University of Oxford,6,United Kingdom,Europe,"6,750","2,964","19,720","7,353"
6,UCL (University College London),7,United Kingdom,Europe,"6,345","2,554","31,080","14,854"
7,Imperial College London,8,United Kingdom,Europe,"3,930","2,071","16,090","8,746"
8,University of Chicago,9,United States,North America,"2,449",635,"13,557","3,379"
9,ETH Zurich - Swiss Federal Institute of Techno...,10,Switzerland,Europe,"2,477","1,886","19,815","7,563"
10,"Nanyang Technological University, Singapore (NTU)",11,Singapore,Asia,"4,338","2,993","25,738","7,251"
11,Ecole Polytechnique Fédérale de Lausanne (EPFL),12,Switzerland,Europe,"1,695","1,300","10,343","5,896"
12,Princeton University,13,United States,North America,"1,007",246,"8,069","1,793"
13,Cornell University,14,United States,North America,"2,718",970,"21,904","5,411"
14,National University of Singapore (NUS),15,Singapore,Asia,"5,106","3,086","32,728","8,917"
15,Yale University,16,United States,North America,"4,940","1,708","12,402","2,469"
16,Johns Hopkins University,17,United States,North America,"4,462","1,061","16,146","\n4,105"
17,Columbia University,18,United States,North America,"6,189",913,"25,045","8,105"
18,University of Pennsylvania,19,United States,North America,"5,499","1,383","20,639","4,250"
19,The Australian National University,20,Australia,Oceania,"1,600",927,"14,442","5,551"
20,University of Michigan,=21,United States,North America,"6,809","1,920","43,147","7,527"
21,Duke University,=21,United States,North America,"2,938",226,"15,320","2,864"
22,The University of Edinburgh,=23,United Kingdom,Europe,"4,075","1,553","28,040","10,551"
23,King's College London,=23,United Kingdom,Europe,"3,650","1,513","23,780","9,451"
24,Tsinghua University,25,China,Asia,"5,506",932,"36,300","4,072"
25,The University of Hong Kong,26,Hong Kong,Asia,"3,012","2,085","20,214","8,230"
26,"University of California, Berkeley (UCB)",27,United States,North America,"3,321","1,395","36,703","6,086"
27,The University of Tokyo,=28,Japan,Asia,"4,514",254,"27,279","2,639"
28,Northwestern University,=28,United States,North America,"4,231","1,141","18,675","3,422"
29,The Hong Kong University of Science and Techno...,30,Hong Kong,Asia,"1,150",835,"10,375","\n2,921"
30,University of Toronto,31,Canada,North America,"9,581","3,905","72,207","21,910"
31,McGill University,32,Canada,North America,"3,646","1,220","28,837","9,540"
32,"University of California, Los Angeles (UCLA)",33,United States,North America,"2,859",662,"40,114","6,887"
33,The University of Manchester,34,United Kingdom,Europe,"4,910","1,653","36,670","13,514"
34,London School of Economics and Political Scien...,35,United Kingdom,Europe,"1,088",687,"9,760","6,748"
35,Kyoto University,=36,Japan,Asia,"4,060",293,"22,974","1,990"
36,Seoul National University,=36,South Korea,Asia,"3,930",433,"28,064","2,331"
37,Peking University,=38,China,Asia,"5,185","1,038","42,136","7,090"
38,"University of California, San Diego (UCSD)",=38,United States,North America,"3,694",870,"32,237","6,644"
39,Fudan University,40,China,Asia,"4,037","1,178","29,135","4,680"
40,KAIST - Korea Advanced Institute of Science & ...,=41,South Korea,Asia,"1,250",147,"9,826",584
41,The University of Melbourne,=41,Australia,Oceania,"3,311","1,477","42,182","18,030"
42,"Ecole normale supérieure, Paris",43,France,Europe,178,75,"1,907",374
43,University of Bristol,44,United Kingdom,Europe,"2,870",942,"20,630","5,099"
44,The University of New South Wales (UNSW Sydney),45,Australia,Oceania,"2,924","1,612","39,784","14,292"
45,The Chinese University of Hong Kong (CUHK),46,Hong Kong,Asia,"2,208","1,074","18,037","4,824"
46,The University of Queensland,=47,Australia,Oceania,"3,158","1,870","37,497","10,420"
47,Carnegie Mellon University,=47,United States,North America,"1,342",425,"13,356","6,385"
48,City University of Hong Kong,49,Hong Kong,Asia,"1,349","1,027","9,240","3,273"
49,The University of Sydney,50,Australia,Oceania,"3,360","1,829","46,678","17,030"
50,University of British Columbia,51,Canada,North America,"4,648","1,635","50,350","11,388"
51,New York University (NYU),52,United States,North America,NaN,NaN,NaN,NaN
52,Brown University,53,United States,North America,"1,303",379,"9,251","1,825"
53,Delft University of Technology,54,Netherlands,Europe,"1,669",701,"16,527","4,634"
54,University of Wisconsin-Madison,55,United States,North America,"5,722","1,151","38,985","4,920"
55,Tokyo Institute of Technology,56,Japan,Asia,"1,563",191,"9,832","1,071"
56,The University of Warwick,57,United Kingdom,Europe,"2,093",890,"19,855","7,703"
57,University of Amsterdam,58,Netherlands,Europe,"2,600",707,"25,967","3,785"
58,Ecole Polytechnique,59,France,Europe,649,259,"3,126",924
59,Monash University,60,Australia,Oceania,"3,204","1,679","57,433","20,578"
60,University of Washington,61,United States,North America,"2,484",550,"56,973","8,373"
61,Shanghai Jiao Tong University,62,China,Asia,"3,544",887,"38,931","2,858"
62,Osaka University,63,Japan,Asia,"2,814",296,"22,760","2,106"
63,Technical University of Munich,64,Germany,Europe,"5,850","1,174","38,726","6,181"
64,University of Glasgow,65,United Kingdom,Europe,"2,775",956,"23,815","8,149"
65,Ludwig-Maximilians-Universität München,66,Germany,Europe,"3,274",674,"35,055","5,084"
66,University of Texas at Austin,67,United States,North America,"2,833",108,"47,995","4,744"
67,Ruprecht-Karls-Universität Heidelberg,68,Germany,Europe,"3,908",756,"28,852","5,298"
68,University of Illinois at Urbana-Champaign,69,United States,North America,"2,554",259,"42,427","9,483"
69,Georgia Institute of Technology,70,United States,North America,"1,133",75,"21,082","4,761"
70,Pohang University of Science And Technology (P...,=71,South Korea,Asia,664,113,"3,117",126
71,KU Leuven,=71,Belgium,Europe,"2,515",784,"45,538","6,926"
72,University of Copenhagen,=73,Denmark,Europe,"7,483","2,336","32,119","3,683"
73,University of Zurich,=73,Switzerland,Europe,"4,997","2,617","26,065","5,036"
74,Universidad de Buenos Aires (UBA),75,Argentina,Latin America,"16,421","3,165","122,301","27,109"
75,Tohoku University,=76,Japan,Asia,"3,411",264,"17,827","1,604"
76,National Taiwan University (NTU),=76,Taiwan,Asia,"2,807",220,"32,195","3,152"
77,Durham University,=78,United Kingdom,Europe,"1,539",586,"16,745","4,690"
78,Lund University,=78,Sweden,Europe,"3,031","1,002","27,786","6,408"
79,"University of North Carolina, Chapel Hill",80,United States,North America,"4,083",524,"25,373","1,934"
80,Boston University,81,United States,North America,"3,157",379,"25,662","7,041"
81,The University of Auckland,=82,New Zealand,Oceania,"2,047",645,"29,641","8,568"
82,The University of Sheffield,=82,United Kingdom,Europe,"3,065",938,"25,430","8,745"
83,University of Birmingham,=84,United Kingdom,Europe,"2,962","1,028","28,660","7,795"
84,The University of Nottingham,=84,United Kingdom,Europe,"3,360","1,135","29,165","7,993"
85,The Ohio State University,86,United States,North America,"5,911","1,696","43,156","6,874"
86,Zhejiang University,87,China,Asia,"4,507","1,913","40,869","4,625"
87,"Trinity College Dublin, The University of Dublin",88,Ireland,Europe,"1,249",544,"14,961","4,311"
88,Rice University,89,United States,North America,969,316,"6,610","1,847"
89,Korea University,=90,South Korea,Asia,"3,745",339,"25,892","3,638"
90,University of Alberta,=90,Canada,North America,"3,561","1,294","31,765","8,203"
91,University of St Andrews,92,United Kingdom,Europe,"1,140",485,"8,800","4,030"
92,The University of Western Australia,=93,Australia,Oceania,"1,420",809,"18,531","4,575"
93,Pennsylvania State University,=93,United States,North America,"3,509",211,"45,612","7,081"
94,Lomonosov Moscow State University,=95,Russia,Europe,"6,709",373,"30,233","5,098"
95,The Hong Kong Polytechnic University,=95,Hong Kong,Asia,"2,447","1,275","20,972","5,251"
96,University of Science and Technology of China,97,China,Asia,"1,992",155,"16,032",548
97,University of Geneva,=98,Switzerland,Europe,"1,752","1,029","15,844","6,104"
98,KTH Royal Institute of Technology,=98,Sweden,Europe,"1,500",494,"12,658","1,937"
99,Washington University in St. Louis,100,United States,North America,"2,699",784,"13,474","2,706"
100,University of Leeds,101,United Kingdom,Europe,"3,025",870,"29,645","7,534"
101,University of Southampton,=102,United Kingdom,Europe,"2,820","1,017","23,775","7,789"
102,University of Helsinki,=102,Finland,Europe,"2,645",535,"22,419","1,234"
103,Eindhoven University of Technology,104,Netherlands,Europe,801,322,"7,636","1,275"
104,Purdue University,105,United States,North America,"3,247","1,334","38,143","8,787"
105,Yonsei University,106,South Korea,Asia,"3,621",290,"25,903","3,379"
106,"KIT, Karlsruhe Institute of Technology",107,Germany,Europe,"1,827",410,"26,081","4,809"
107,Sungkyunkwan University (SKKU),108,South Korea,Asia,"3,556",324,"23,921","2,818"
108,Utrecht University,=109,Netherlands,Europe,"3,067",653,"31,754","2,771"
109,Leiden University,=109,Netherlands,Europe,"2,324",581,"26,513","3,488"
110,The University of Adelaide,=109,Australia,Oceania,"1,729",633,"21,240","8,114"
111,Uppsala University,112,Sweden,Europe,"2,567",584,"25,371","5,198"
112,University of Groningen,113,Netherlands,Europe,"3,351","1,137","27,549","10,780"
113,Universiti Malaya (UM),=114,Malaysia,Asia,"2,755",655,"17,902","3,476"
114,Nanjing University,=114,China,Asia,"2,449",617,"32,495","2,960"
115,Nagoya University,=116,Japan,Asia,"2,665",206,"15,838","1,547"
116,Technical University of Denmark,=116,Denmark,Europe,"2,117",966,"8,878","2,098"
117,"University of California, Davis",118,United States,North America,"3,843",549,"34,244","4,529"
118,Aarhus University,119,Denmark,Europe,"2,316",602,"26,226","3,762"
119,Humboldt-Universität zu Berlin,120,Germany,Europe,"1,966",407,"33,198","4,805"
120,Universidade de São Paulo,121,Brazil,Latin America,"5,582",279,"65,711","2,086"
121,Universidad Nacional Autónoma de México (UNAM),=122,Mexico,Latin America,"15,073",949,"141,939","2,173"
122,Hokkaido University,=122,Japan,Asia,"2,605",210,"17,552","1,347"
123,Wageningen University,124,Netherlands,Europe,"2,277",323,"12,695","3,613"
124,Freie Universitaet Berlin,=125,Germany,Europe,"1,375",305,"32,912","5,735"
125,Ghent University,=125,Belgium,Europe,"2,520",482,"35,968","3,766"
126,Queen Mary University of London,127,United Kingdom,Europe,"1,885",801,"16,135","6,806"
127,Kyushu University,128,Japan,Asia,"2,858",246,"18,660","1,787"
128,"University of Maryland, College Park",129,United States,North America,"3,920",473,"35,504","4,683"
129,Université de Montréal,130,Canada,North America,"2,961","1,037","39,112","9,688"
130,Université Pierre et Marie Curie (UPMC),131,France,Europe,"2,273",253,"24,305","4,213"
131,University of Southern California,132,United States,North America,"3,124",551,"38,749","9,170"
132,Chalmers University of Technology,133,Sweden,Europe,"1,077",336,"9,257","1,465"
133,"University of California, Santa Barbara (UCSB)",134,United States,North America,"1,449",267,"23,149","2,128"
134,Lancaster University,=135,United Kingdom,Europe,"1,245",435,"12,300","4,464"
135,University of York,=135,United Kingdom,Europe,"1,833",636,"15,999","3,364"
136,Cardiff University,=137,United Kingdom,Europe,"2,755",705,"24,565","6,090"
137,Pontificia Universidad Católica de Chile (UC),=137,Chile,Latin America,"2,260",198,"27,003",991
138,Aalto University,=137,Finland,Europe,"1,257",370,"12,147","1,831"
139,McMaster University,140,Canada,North America,"3,231","1,170","23,702","3,548"
140,RWTH Aachen University,141,Germany,Europe,"3,176",449,"44,517","8,556"
141,University of Pittsburgh,=142,United States,North America,"4,982",572,"26,393","2,937"
142,University of Oslo,=142,Norway,Europe,"2,509",711,"24,304","3,667"
143,Technische Universität Berlin (TU Berlin),144,Germany,Europe,"2,562",377,"22,176","4,494"
144,The Hebrew University of Jerusalem,145,Israel,Asia,"2,249",454,"16,531","1,034"
145,University of Lausanne,146,Switzerland,Europe,"2,173","1,031","13,435","3,337"
146,Erasmus University Rotterdam,=147,Netherlands,Europe,"2,011",458,"23,273","5,229"
147,Emory University,=147,United States,North America,"2,560",484,"12,852","2,154"
148,University of Basel,=149,Switzerland,Europe,"1,057",684,"12,852","3,441"
149,Michigan State University,=149,United States,North America,"2,884",653,"44,951","7,427"
150,University of Otago,151,New Zealand,Oceania,"1,266",759,"18,532","3,871"
151,University of Waterloo,152,Canada,North America,"1,689",473,"35,541","8,962"
152,Université catholique de Louvain (UCL),153,Belgium,Europe,"1,219",406,"24,277","4,468"
153,University of Vienna,154,Austria,Europe,"3,411","1,400","45,967","14,468"
154,Hanyang University,155,South Korea,Asia,"3,085",364,"23,348","3,397"
155,Universitat de Barcelona,156,Spain,Europe,"3,863",108,"46,002","6,134"
156,École Normale Supérieure de Lyon,157,France,Europe,382,91,"2,020",221
157,University of Aberdeen,=158,United Kingdom,Europe,"1,310",508,"12,005","4,246"
158,The University of Exeter,=158,United Kingdom,Europe,"1,756",597,"20,749","5,504"
159,University of Bath,160,United Kingdom,Europe,"1,165",440,"14,370","4,213"
160,Newcastle University,=161,United Kingdom,Europe,"2,428",835,"21,673","5,717"
161,National Tsing Hua University,=161,Taiwan,Asia,"1,020",119,"13,890","1,187"
162,University of Minnesota,163,United States,North America,"4,919",195,"59,742","6,542"
163,University of Bergen,=164,Norway,Europe,"1,513",484,"10,671",767
164,"University of California, Irvine",=164,United States,North America,"1,926",377,"32,151","8,538"
165,Eberhard Karls Universität Tübingen,=164,Germany,Europe,"3,844",796,"27,366","3,860"
166,University of Bern,167,Switzerland,Europe,"1,172",661,"10,758","1,618"
167,University College Dublin,168,Ireland,Europe,"1,604",627,"19,833","3,876"
168,Dartmouth College,169,United States,North America,939,27,"6,224",945
169,Politecnico di Milano,170,Italy,Europe,"1,500",231,"36,277","5,593"
170,Albert-Ludwigs-Universitaet Freiburg,171,Germany,Europe,"1,966",413,"23,214","3,897"
171,Indian Institute of Technology Delhi (IITD),172,India,Asia,466,4,"7,477",80
172,King Fahd University of Petroleum & Minerals,=173,Saudi Arabia,Asia,"1,062",665,"6,040",989
173,University of Liverpool,=173,United Kingdom,Europe,"2,390",717,"22,065","7,502"
174,University of Virginia,=173,United States,North America,"2,509",487,"21,560","1,899"
175,University of Technology Sydney,176,Australia,Oceania,"1,328",546,"24,207","7,769"
176,CentraleSupélec,177,France,Europe,529,137,"3,877","1,132"
177,University of Florida,178,United States,North America,"5,419",504,"45,485","4,597"
178,Indian Institute of Technology Bombay (IITB),=179,India,Asia,876,19,"9,402",93
179,University of Twente,=179,Netherlands,Europe,910,299,"9,332","2,235"
180,University of Göttingen,181,Germany,Europe,"3,678",641,"30,402","3,736"
181,Vrije Universiteit Brussel (VUB),=182,Belgium,Europe,"1,792",515,"9,284","1,853"
182,Universidade Estadual de Campinas (Unicamp),=182,Brazil,Latin America,"1,968",109,"26,572",966
183,University of Colorado Boulder,=182,United States,North America,"3,685",566,"30,219","2,679"
184,Vienna University of Technology,=182,Austria,Europe,706,172,"17,479","5,199"
185,University of Rochester,186,United States,North America,"2,569",488,"9,636","2,805"
186,Universidad Autónoma de Madrid,187,Spain,Europe,"2,738",181,"26,511","2,976"
187,Alma Mater Studiorum - University of Bologna,=188,Italy,Europe,"2,990",153,"63,399","4,195"
188,University of Reading,=188,United Kingdom,Europe,"1,280",422,"13,330","4,077"
189,Indian Institute of Science (IISc) Bangalore,190,India,Asia,423,NaN,"4,071",47
190,University of Cape Town,191,South Africa,Africa,"1,733",379,"19,593","3,325"
191,Scuola Normale Superiore di Pisa,=192,Italy,Europe,86,1,532,48
192,Scuola Superiore Sant'Anna Pisa di Studi Unive...,=192,Italy,Europe,119,1,789,135
193,Keio University CEMS MIM,=192,Japan,Asia,"3,905",261,"33,500","2,178"
194,Stockholm University,=195,Sweden,Europe,"2,154",646,"28,281","2,636"
195,Universitat Autònoma de Barcelona,=195,Spain,Europe,"2,187",230,"31,986","3,848"
196,Texas A&M University,=195,United States,North America,"3,446",206,"60,294","4,900"
197,Instituto Tecnológico y de Estudios Superiores...,199,Mexico,Latin America,"1,822",821,"13,376","1,412"
198,Maastricht University,200,Netherlands,Europe,"1,277",502,"16,385","8,234"
199,Universidad de Chile,201,Chile,Latin America,"2,256",127,"38,848","2,134"

In [41]:
##TimesHigherEducation

r3 = requests.get("https://www.timeshighereducation.com/sites/default/files/the_data_rankings/world_university_rankings_2018_limit0_369a9045a203e176392b9fb8f8c1cb2a.json")
list_univ = r3.json()['data']

In [42]:
data_2 = pd.DataFrame(list_univ[:200])
data_2 = data_2[['name','location','rank','stats_number_students','stats_pc_intl_students','stats_student_staff_ratio']]
data_2.columns = ['Name','Country','Rank','Number of students','Percentage of international students','Students-Staff ratio']

data_2

,Name,Country,Rank,Number of students,Percentage of international students,Students-Staff ratio
0,University of Oxford,United Kingdom,1,"20,409",38%,11.2
1,University of Cambridge,United Kingdom,2,"18,389",35%,10.9
2,California Institute of Technology,United States,=3,"2,209",27%,6.5
3,Stanford University,United States,=3,"15,845",22%,7.5
4,Massachusetts Institute of Technology,United States,5,"11,177",34%,8.7
5,Harvard University,United States,6,"20,326",26%,8.9
6,Princeton University,United States,7,"7,955",24%,8.3
7,Imperial College London,United Kingdom,8,"15,857",55%,11.4
8,University of Chicago,United States,9,"13,525",25%,6.2
9,ETH Zurich – Swiss Federal Institute of Techno...,Switzerland,=10,"19,233",38%,14.6
10,University of Pennsylvania,United States,=10,"20,361",20%,6.5
11,Yale University,United States,12,"12,155",21%,4.3
12,Johns Hopkins University,United States,13,"15,498",24%,4.3
13,Columbia University,United States,14,"26,587",32%,6.1
14,"University of California, Los Angeles",United States,15,"39,279",17%,9.6
15,University College London,United Kingdom,16,"30,304",49%,10.5
16,Duke University,United States,17,"15,256",22%,4.5
17,"University of California, Berkeley",United States,18,"36,182",17%,13.1
18,Cornell University,United States,19,"21,850",24%,9.8
19,Northwestern University,United States,20,"17,466",18%,12.8
20,University of Michigan,United States,21,"41,818",16%,8.6
21,National University of Singapore,Singapore,=22,"30,602",30%,17.0
22,University of Toronto,Canada,=22,"69,427",17%,18.7
23,Carnegie Mellon University,United States,24,"12,676",45%,13.5
24,London School of Economics and Political Science,United Kingdom,=25,"10,065",71%,12.2
25,University of Washington,United States,=25,"44,945",16%,11.4
26,University of Edinburgh,United Kingdom,=27,"26,759",40%,12.5
27,New York University,United States,=27,"43,860",26%,9.6
28,Peking University,China,=27,"42,136",16%,8.9
29,Tsinghua University,China,30,"42,089",9%,13.7
30,"University of California, San Diego",United States,31,"29,633",17%,12.8
31,University of Melbourne,Australia,32,"42,116",40%,26.6
32,Georgia Institute of Technology,United States,33,"20,773",27%,20.7
33,University of British Columbia,Canada,=34,"51,889",29%,18.1
34,LMU Munich,Germany,=34,"36,091",15%,15.6
35,King’s College London,United Kingdom,36,"23,207",41%,12.0
36,University of Illinois at Urbana-Champaign,United States,37,"43,402",23%,22.8
37,École Polytechnique Fédérale de Lausanne,Switzerland,=38,"9,928",55%,11.2
38,Karolinska Institute,Sweden,=38,"7,424",19%,10.9
39,University of Hong Kong,Hong Kong,40,"18,364",42%,18.0
40,Technical University of Munich,Germany,41,"38,689",23%,54.4
41,McGill University,Canada,42,"30,940",26%,13.3
42,University of Wisconsin-Madison,United States,43,"38,960",12%,10.7
43,Hong Kong University of Science and Technology,Hong Kong,44,"10,214",31%,23.1
44,Heidelberg University,Germany,45,"28,876",17%,23.2
45,University of Tokyo,Japan,46,"26,000",10%,6.7
46,KU Leuven,Belgium,47,"44,412",15%,37.1
47,Australian National University,Australia,48,"15,986",35%,19.3
48,University of Texas at Austin,United States,49,"48,561",10%,17.1
49,Brown University,United States,=50,"8,898",20%,10.7
50,Washington University in St Louis,United States,=50,"12,600",17%,7.5
51,"Nanyang Technological University, Singapore",Singapore,52,"25,499",31%,16.3
52,"University of California, Santa Barbara",United States,53,"23,054",14%,28.1
53,"University of California, Davis",United States,=54,"37,365",10%,13.8
54,University of Manchester,United Kingdom,=54,"35,318",38%,14.6
55,University of Minnesota,United States,=56,"60,949",11%,17.4
56,University of North Carolina at Chapel Hill,United States,=56,"34,684",8%,9.7
57,Chinese University of Hong Kong,Hong Kong,58,"18,072",31%,17.3
58,University of Amsterdam,Netherlands,59,"23,495",12%,12.3
59,Purdue University,United States,60,"38,770",23%,17.4
60,University of Sydney,Australia,61,"44,553",32%,21.6
61,Humboldt University of Berlin,Germany,62,"32,172",17%,56.5
62,Delft University of Technology,Netherlands,63,"17,057",27%,19.6
63,Wageningen University & Research,Netherlands,64,"12,326",29%,19.7
64,University of Queensland,Australia,65,"38,968",26%,35.7
65,University of Southern California,United States,66,"38,380",23%,12.8
66,Leiden University,Netherlands,67,"24,825",12%,18.2
67,Utrecht University,Netherlands,68,"31,522",7%,15.2
68,"University of Maryland, College Park",United States,69,"31,772",10%,16.5
69,Boston University,United States,=70,"24,833",25%,8.6
70,Ohio State University,United States,=70,"53,190",13%,12.7
71,Erasmus University Rotterdam,Netherlands,=72,"22,047",20%,20.1
72,Paris Sciences et Lettres – PSL Research Unive...,France,=72,"19,978",25%,10.1
73,Kyoto University,Japan,=74,"22,481",8%,8.7
74,Seoul National University,South Korea,=74,"26,470",11%,12.6
75,University of Bristol,United Kingdom,76,"19,995",27%,13.7
76,Pennsylvania State University,United States,77,"45,411",14%,15.2
77,McMaster University,Canada,78,"23,693",15%,24.7
78,RWTH Aachen University,Germany,79,"43,721",18%,57.7
79,University of Glasgow,United Kingdom,=80,"23,389",36%,15.4
80,Monash University,Australia,=80,"46,846",28%,33.7
81,University of Freiburg,Germany,82,"20,871",19%,40.3
82,University of Groningen,Netherlands,=83,"26,197",17%,24.1
83,Michigan State University,United States,=83,"44,556",17%,17.0
84,University of New South Wales,Australia,85,"40,133",34%,26.7
85,Rice University,United States,=86,"6,441",28%,9.0
86,Uppsala University,Sweden,=86,"25,174",11%,17.3
87,Free University of Berlin,Germany,88,"34,114",21%,57.0
88,Dartmouth College,United States,89,"6,100",15%,6.6
89,University of Helsinki,Finland,90,"22,532",6%,16.2
90,University of Warwick,United Kingdom,91,"18,424",39%,13.0
91,Technical University of Berlin,Germany,92,"22,390",20%,64.3
92,Lund University,Sweden,93,"28,663",16%,12.1
93,University of Tübingen,Germany,94,"27,844",13%,38.5
94,University of Basel,Switzerland,=95,"12,729",27%,17.7
95,Korea Advanced Institute of Science and Techno...,South Korea,=95,"9,464",9%,10.6
96,Durham University,United Kingdom,97,"16,310",29%,14.9
97,Emory University,United States,98,"12,649",19%,4.4
98,"University of California, Irvine",United States,99,"30,419",21%,17.0
99,University of Bonn,Germany,=100,"35,619",13%,77.9
100,University of Colorado Boulder,United States,=100,"30,780",10%,16.3
101,University of Pittsburgh,United States,=100,"26,367",10%,5.9
102,Maastricht University,Netherlands,103,"16,727",50%,18.0
103,University of Sheffield,United Kingdom,104,"24,581",36%,14.9
104,University of Bern,Switzerland,=105,"10,449",15%,16.5
105,Vanderbilt University,United States,=105,"12,011",13%,3.3
106,Ghent University,Belgium,107,"35,909",10%,35.9
107,University of Montreal,Canada,108,"41,017",22%,21.9
108,Aarhus University,Denmark,=109,"25,167",12%,14.3
109,University of Copenhagen,Denmark,=109,"30,395",14%,4.1
110,Sungkyunkwan University (SKKU),South Korea,=111,"24,055",12%,19.6
111,University of Western Australia,Australia,=111,"18,787",25%,21.8
112,University of Göttingen,Germany,=113,"28,554",12%,27.9
113,University of Virginia,United States,=113,"24,055",12%,9.7
114,École Polytechnique,France,115,"2,799",36%,5.1
115,Fudan University,China,116,"32,859",10%,12.1
116,Indiana University,United States,=117,"66,835",15%,14.1
117,Trinity College Dublin,Ireland,=117,"16,157",27%,22.8
118,University of Alberta,Canada,=119,"32,435",26%,21.6
119,City University of Hong Kong,Hong Kong,=119,"9,240",35%,11.2
120,Queen Mary University of London,United Kingdom,121,"15,405",45%,13.3
121,Radboud University Nijmegen,Netherlands,122,"19,358",12%,19.1
122,Georgetown University,United States,=123,"15,956",17%,8.6
123,Pierre and Marie Curie University,France,=123,"25,117",20%,12.3
124,University of Mannheim,Germany,125,"10,995",16%,74.5
125,Arizona State University,United States,=126,"44,475",19%,20.1
126,Charité - Universitätsmedizin Berlin,Germany,=126,"6,792",18%,16.2
127,University of Southampton,United Kingdom,=126,"21,670",33%,12.5
128,Université Catholique de Louvain,Belgium,129,"24,451",19%,37.8
129,University of Exeter,United Kingdom,=130,"19,159",28%,17.5
130,University of Geneva,Switzerland,=130,"16,085",40%,15.1
131,University of Science and Technology of China,China,132,"16,032",3%,8.2
132,Karlsruhe Institute of Technology,Germany,133,"25,824",18%,26.3
133,University of Adelaide,Australia,=134,"21,241",26%,34.3
134,Stockholm University,Sweden,=134,"33,156",8%,24.9
135,University of Zurich,Switzerland,136,"26,363",20%,5.9
136,Pohang University of Science and Technology,South Korea,=137,"3,046",4%,10.4
137,University of York,United Kingdom,=137,"14,962",27%,15.1
138,University of Leeds,United Kingdom,139,"27,995",26%,14.7
139,Pompeu Fabra University,Spain,140,"11,172",12%,20.8
140,University of Birmingham,United Kingdom,=141,"27,061",27%,15.0
141,Eindhoven University of Technology,Netherlands,=141,"7,637",17%,18.6
142,University of Florida,United States,=143,"46,346",9%,17.5
143,University of St Andrews,United Kingdom,=143,"9,005",48%,13.0
144,University of Cologne,Germany,145,"45,087",10%,50.9
145,University of Oslo,Norway,146,"27,730",19%,18.6
146,Autonomous University of Barcelona,Spain,=147,"32,309",16%,12.9
147,University of Nottingham,United Kingdom,=147,"29,176",30%,14.0
148,University of Sussex,United Kingdom,=147,"12,384",38%,15.4
149,Lancaster University,United Kingdom,=150,"11,637",38%,13.1
150,University of Notre Dame,United States,=150,"11,912",11%,13.4
151,University of Lausanne,Switzerland,152,"13,065",25%,13.6
152,Technical University of Denmark,Denmark,=153,"8,548",24%,6.0
153,University of Rochester,United States,=153,"9,636",29%,4.3
154,Scuola Superiore Sant’Anna,Italy,=155,690,14%,11.7
155,TU Dresden,Germany,=155,"34,514",13%,35.9
156,Ulm University,Germany,=155,"10,657",13%,28.4
157,Case Western Reserve University,United States,158,"10,130",19%,7.1
158,University of Leicester,United Kingdom,=159,"14,635",38%,14.1
159,Texas A&M University,United States,=159,"56,245",9%,23.6
160,University of Arizona,United States,161,"38,334",9%,13.0
161,"University of California, Santa Cruz",United States,=162,"17,866",4%,23.0
162,Cardiff University,United Kingdom,=162,"24,186",26%,13.5
163,University of Erlangen-Nuremberg,Germany,=162,"38,730",12%,58.5
164,University of Vienna,Austria,=165,"35,375",26%,20.8
165,Vrije Universiteit Amsterdam,Netherlands,=165,"24,554",7%,18.1
166,University of Würzburg,Germany,=165,"22,537",9%,33.9
167,University of Alabama at Birmingham,United States,168,"15,703",6%,15.2
168,Nanjing University,China,=169,"33,456",10%,14.2
169,Tufts University,United States,=169,"10,463",16%,9.3
170,University of Cape Town,South Africa,171,"20,775",18%,11.7
171,"Rutgers, the State University of New Jersey",United States,172,"43,439",10%,11.1
172,KTH Royal Institute of Technology,Sweden,=173,"12,951",17%,16.0
173,University of Münster,Germany,=173,"42,287",7%,42.6
174,Université Libre de Bruxelles,Belgium,=175,"25,343",35%,43.4
175,Newcastle University,United Kingdom,=175,"20,952",30%,15.6
176,University of Liverpool,United Kingdom,=177,"19,815",35%,11.7
177,Zhejiang University,China,=177,"50,051",6%,14.1
178,University of Luxembourg,Luxembourg,=179,"4,969",57%,14.6
179,University of Twente,Netherlands,=179,"6,697",27%,12.8
180,Paris-Sud University,France,181,"27,221",16%,14.5
181,École Normale Supérieure de Lyon,France,=182,"2,221",13%,8.5
182,Hong Kong Polytechnic University,Hong Kong,=182,"21,773",25%,26.9
183,Scuola Normale Superiore di Pisa,Italy,184,515,7%,5.2
184,University of Aberdeen,United Kingdom,185,"12,055",36%,13.9
185,University of Miami,United States,186,"15,860",16%,5.9
186,University of Dundee,United Kingdom,187,"10,893",24%,14.9
187,University of East Anglia,United Kingdom,=188,"13,521",30%,13.6
188,Shanghai Jiao Tong University,China,=188,"37,288",6%,12.4
189,Aalto University,Finland,190,"12,744",20%,20.2
190,University of Massachusetts,United States,191,"59,230",14%,13.3
191,University of Auckland,New Zealand,192,"30,348",29%,18.8
192,Northeastern University,United States,193,"18,780",32%,14.0
193,Lomonosov Moscow State University,Russian Federation,194,"29,236",22%,7.3
194,Tilburg University,Netherlands,195,"7,738",13%,22.5
195,Paris-Sorbonne University – Paris 4,France,196,"22,042",15%,30.2
196,"Royal Holloway, University of London",United Kingdom,197,"8,931",40%,15.4
197,"University of California, Riverside",United States,=198,"20,740",14%,20.7
198,University of Gothenburg,Sweden,=198,"18,378",13%,10.0
199,National Taiwan University,Taiwan,=198,"31,758",8%,11.5